.offCanvas {
  background-color: var(--linen);
}

.profileBtn {
  all: unset;
  color: #0D1321;
}

.profileBtn:hover {
  color: #1D2D44;
}

.listItem {
  list-style-type: none;
}

.hamburger {
  fill: var(--linen);
  font-size: 2.5rem;
  cursor: pointer;
}
