.recipeDetailsWrapper {
  display: flex;
  justify-content: center;
}

.card {
  margin: 1rem 0 2rem 0;
  background-color: var(--linen);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 90%;
  font-size: .8rem;
}

.favoriteDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  display: flex;
  margin: 0;
  align-items: center;
}

.favoriteBtn {
  all: unset;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: .3rem;
  padding: .5rem .7rem;
  font-size: 0.75rem;
}

.favoriteBtn:hover {
  background-color: rgba(29, 45, 68, 0.2);
}

.heart,
.heartFill {
  fill: darkred;
  font-size: 1rem;
  margin-right: .5rem;
}

.trash {
  fill: maroon;
  font-size: 1rem;
  margin-right: .5rem;
}

.edit {
  fill: var(--light-blue);
  font-size: 1rem;
  margin-right: .5rem;
}

.ingredientsSection {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px var(--navy);
  margin: 0 0 0.5rem 0;
}

.ingredients {
  margin: 0;
}

.commentNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2rem;
  width: 1.2rem;
  font-size: 0.6rem;
  background-color: var(--teal);
  color: var(--linen);
  padding: .6rem;
  border-radius: 50%;
  margin: 0 .3rem
}

.flex {
  display: flex;
  align-items: center;
}
