.card {
  margin: 1rem 0 2rem 0;
  background-color: var(--linen);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.favoriteDiv {
  display: flex;
  justify-content: flex-end;
}

.favoriteBtn {
  all: unset;
}

.heart,
.heartFill {
  fill: darkred;
}
