.card {
  width: 18rem;
  height: 15rem;
  margin: 1rem;
  cursor: pointer;
  border: none;
}

.cardHeader {
  background-color: var(--teal);
  color: var(--linen)
}

.cardBody {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--linen);
}

.cardFooter {
  background-color: var(--linen);
  border: none
}

.cardLinks {
  margin-top: auto;
}
