.recipeFormWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formGroup {
  display: flex;
}

.formInputFieldTop {
  background-color: var(--linen);
  width: 5rem;
  margin: 0 1rem 1rem 0
}

.oilSelect {
  background-color: var(--linen);
  font-size: 0.8rem;
}

.oilSelect:focus {
  background-color: var(--linen);
  box-shadow: none;
}

.oilSelectGrp {
  width: 15rem;
  margin: 0 1rem 1rem 0
}

.formInputField {
  background-color: var(--linen);
}

.formInputField:focus {
  background-color: var(--linen);
  box-shadow: none;
}

.oilInput {
  background-color: var(--linen);
  width: 5rem;
  margin: 0 1rem 1rem 0
}

.oilInput:focus {
  background-color: var(--linen);
  box-shadow: none;
}

.formBtn {
  background-color: var(--dark-green);
  border: solid 1px var(--dark-green);
  border-radius: 7px;
  color: #E1EEDD;
  padding: 7.5px 15px;
}

.formBtn:hover,
.formBtn:active {
  background-color: var(--light-green);
  border: solid 1px var(--dark-green);
}

.sectionHeader {
  margin-bottom: 1.5rem;
}

.singleOil {
  display: flex;
}

.oilNameBtn {
  display: flex;
}
