@import 'bootstrap/dist/css/bootstrap.css';

:root {
  --dark-blue: #0D1321;
  --navy: #1D2D44;
  --teal: #3E5C76;
  --light-blue: #748CAB;
  --linen: #F0EBD8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--dark-blue);
}

body {
  background-color: var(--linen);
}

.recipeCardsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
}

.signin-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.signin_btn {
  background-color: var(--navy);
  color: var(--linen);
  border: none;
}

.signin_btn:hover,
.signin_btn:focus-visible,
div .signin_btn:active,
#signinBtn:active {
  background-color: var(--teal);
  box-shadow: none;
}
